# --- Qwen ---
qwen_api_key=
qwen_base_url=

# --- Llama ---
llama_api_key=
llama_base_url=

# --- OpenAI ---
gpt_api_key=
gpt_base_url=

# --- Anthropic ---
claude_api_key=
claude_base_url=

# --- Google ---
gemini_api_key=
gemini_base_url=
